<div class="container">
  <div>
    <mat-card>
      <mat-card-content>
        <mat-card-title>Log in</mat-card-title>
        <form [formGroup]="form" (ngSubmit)="login()">
          <mat-form-field>
            <input
              type="email"
              matInput
              placeholder="Email"
              formControlName="email"
              autocomplete="email"
            />
            <mat-error *ngIf="email.touched && email.hasError('email')">Email must be valid</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Password"
              formControlName="password"
              autocomplete="current-password"
            />
            <mat-error *ngIf="password.touched && password.hasError('required')">password is required</mat-error>
          </mat-form-field>
          <div class="button">
            <button mat-button type="submit">Login</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
